* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background:
        radial-gradient(70% 55% at 50% 50%, #2a5d77 0%, #184058 18%, #0f2a43 34%, #0a1b30 50%, #071226 66%, #040d1c 80%, #020814 92%, #01040d 97%, #000309 100%), radial-gradient(160% 130% at 10% 10%, rgba(0, 0, 0, 0) 38%, #000309 76%, #000208 100%), radial-gradient(160% 130% at 90% 90%, rgba(0, 0, 0, 0) 38%, #000309 76%, #000208 100%);
    display: grid;
    place-items: center;
}

.principalContainer {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.calculator {
    background-color: #070814;
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 2rem;
    gap: .5rem;
}

.screen {
    grid-column: 1 / 6;
    background-color: #3844e6;
    padding: 1.5rem;
    font-size: 2rem;
    color: #05174d;
    text-align: right;
    border: none;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
}

.btn {
    background-color: #15173c;
    color: white;
    padding: .7rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(53, 53, 53);
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover {
    background-color: #090c31;
}

#equal,
#clearAll,
#deleteNumber,
#cleanHistory {
    background-color: #4bbda4b4;
}

#equal:hover,
#clearAll:hover,
#deleteNumber:hover,
#cleanHistory:hover {
    background-color: #3baa65;
}

.containerHistory {
    background-color: #070814;
    width: 500px;
    height: 435px;
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.operationsHistoryList {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-right: .5rem;
}

.itemHistory {
    background-color: #15173c;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    font-family: monospace;
    font-size: 1rem;
    text-align: right;
    border-left: 4px solid #3844e6;
}

#cleanHistory {
    border-radius: 1.5rem;
    padding: .5rem;
    grid-column: span 5;
}